@import "tailwindcss";

:root {
  --background: #141217;
  --background-bold: #18161d;
  --background-light: #23212C;
  --background-extra-light: #5d5874;
  --white-main: #f2f2f2;
  --white-secondary: #c7c5d3;
  --green-main: #89d83a;
}

@theme inline {
  --color-background: var(--background);
  --color-background-bold: var(--background-bold);
  --color-background-light: var(--background-light);
  --color-background-extralight: var(--background-extra-light);
  --color-white-main: var(--white-main);
  --color-white-secondary: var(--white-secondary);
  --color-green-main: var(--green-main);

  --font-jetbrains: var(--font-jet);
  --font-bitter: var(--font-bitter);
  --font-lora: var(--font-lora);
  --font-playfair: var(--font-playfair);
  --font-oswald: var(--font-oswald);
  --font-raleway: var(--font-raleway);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141217;
    --foreground: var(--white-main)
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Skeleton Effect */

.skeleton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #23212c;
  border-radius: 8px;
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.6) 60%,
      rgba(255, 255, 255, 0));
  animation: skeleton-shimmer 1.6s infinite;
}

@keyframes skeleton-shimmer {
  100% {
    transform: translateX(100%);
  }
}

.image-gradient {
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}

.post-content h2 {
  font-size: 22px;
  margin: 16px 0;
  color: var(--green-main);
  font-weight: 500;
}

.post-content h3 {
  font-size: 18px;
  margin: 16px 0;
  color: var(--green-main);
  font-weight: 500;
}

.post-content p {
  margin: 24px 0;
}

.post-content strong {
  background-color:  var(--background-light);
  border-radius: 4px;
  padding: 4px 8px;
}

@media(min-width: 1024px) {
  .post-content h2 {
    font-size: 32px;
    margin: 20px 0;
  }

  .post-content h3 {
    font-size: 26px;
    margin: 16px 0;
  }
}

.post-content img {
  margin: 24px 0;
}

.post-card .category-flag {
  width: 82px;
  font-size: 12px !important;
  margin-top: 10px;
  position: absolute; 
  right: 10px;
  top: 1%;
}